@import "_config";

@import "_vendor/normalize-scss/_normalize";

@import "_partials/_header";

@import "_sections/_handman_list";
@import "_sections/_rate";

.row {
  max-width: 95%;
  margin: auto;
}

body, html {
  width: 100%;
  height: 100%;
  font: 16px Arial, Helvetica, sans-serif;
  background: $gray;
}

main {
  float: left;
  width: 100%;
  margin: 56px 0 0 0;
}
