#handyman-list {
  .handyman-item {
    position: relative;
    float: left;
    padding: 10px 2.5%;
    width: 100%;
    border-bottom: 1px solid darken($gray, 5%);
    background: #FFF;
    box-sizing: border-box;
  }
}

.handyman-item {
  h2 {
    position: relative;
    float: left;
    margin: 0 5%;
    padding: 0;
    width: 65%;
    font-weight: normal;
    font-size: 20px;
    color: darken($gray, 50%);
    box-sizing: border-box;
  }

  .handyman-item-avatar {
    float: left;
    border: 1px solid darken($gray, 20%);
    border-radius: 50%;
  }

  .handyman-item-skills {
    float: left;
    margin: 0 5%;
    width: 70%;

    .handyman-item-skills-desc {
      padding: 0 2px;
      margin: 0 0 0 2%;
      font-size: 13px;
      border: 1px solid darken($gray, 15%);
      color: darken($gray, 50%);
      background: darken($gray, 1%);
      border-radius: 5px;

      &:first-child { margin-left: 0; }
    }
  }

  .handyman-item-rating {
    position: absolute;
    top: 10px;
    right: 5%;
    width: 25%;

    .handyman-item-rating-bar {
      float: right;
      padding: 1px;
      font-size: 13px;
      text-align: center;
      color: darken($gray, 60%);
      background: lighten($primary, 30%);
    }
  }
}
